ul.culture-providers {
    font-family: $sans-serif;
}

nav.tab-event-types {
    left: 0;
    background: transparent;
    border: none;
    float: left;
    .ui-widget-header {
        background: transparent;
        border: none;
        border-bottom: 1px solid #c0c0c0;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    .ui-tabs-nav {
        .ui-state-default {
            background: transparent;
            border: none;
        }
        .ui-state-active {
            background: transparent;
            border: none;
        }
        .ui-state-default a {
            color: #333333;
            background-color: white;
        }
        .ui-state-active a {
            background-color: #e0e0e0;
            border-color: #dbdbdb;
            color: #333333;
        }
    }
}

section.events {
    @include clearfix();

    .occasions {
        @include columns(12);
    }
    .events {
        @include columns(12);
    }
    .all_events {
        @include columns(12);
    }
}

#tabs_event_types {
    position: static;
    border-color: red !important;
    border: 5px !important;
}

article.events {
    @include columns(12);
    .div {
        #tabs_event_types {
            .ui-tabs {
                position: static;
                border-color: red;
                border: 5px;
                padding: 0.2em;
                padding-top: 0.2em;
                padding-right-value: 0.2em;
                padding-bottom: 0.2em;
                padding-left-value: 0.2em;
                padding-left-ltr-source: physical;
                padding-left-rtl-source: physical;
                padding-right-ltr-source: physical;
                padding-right-rtl-source: physical;
            }
        }
    }

    .occasions {
        @include columns(12);
    }
    .events {
        @include columns(12);
    }
    .all_events {
        @include columns(12);
    }
}