ul.culture-providers {
    font-family: $sans-serif;
}

nav.tab-event-types {
    @include columns(12);
    left: 0;
    background: transparent;
    float: left;

    .ui-widget-header {
        background: transparent;
        border-bottom: 1px solid #848484;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    .ui-tabs-nav {
        li {
            float: left;
            margin-bottom: -1px;
        }

        li > a {
            border: 2px solid;
            border-color: #DBDBDB #DBDBDB rgba(0, 0, 0, 0);
            border-radius: 8px 8px 0 0;
            line-height: 0.8;
            margin-right: 4px;
        }

        li.ui-tabs-active > a {
            border-color: #848484 #848484 rgba(0, 0, 0, 0);
        }

        li > a:hover {
            border-color: #848484 #848484 rgba(0, 0, 0, 0);
        }

        li.active > a, li.active > a:hover, li.active > a:focus {
            -moz-border-bottom-colors: transparant;
            -moz-border-left-colors: #848484;
            -moz-border-right-colors: #848484;
            -moz-border-top-colors: #848484;
            background-color: #E8E8E8;
            border-color: #848484 #848484 rgba(0, 0, 0, 0);
            border-image: none;
            border-style: solid;
            border-width: 2px;
            cursor: default;
        }

        .nav-justified {
            border-bottom: 0 none;
            width: 90%;
        }

        .nav-justified > li {
            float: none;
        }

        .nav-justified > li > a {
            margin-bottom: 5px;
            text-align: center;
        }

        .nav-justified > .dropdown .dropdown-menu {
            left: auto;
            top: auto;
        }

        .ui-state-default {
            background: transparent;
        }

        .ui-state-active {
            background: transparent;
        }

        .ui-state-default a {
            background-color: white;
        }

        .ui-state-active a {
            color: #333333;
            background-color: #e0e0e0;
            border-color: #dbdbdb;
        }
    }
}

section.events {
    @include clearfix();

    .occasions {
        @include columns(12);
    }
    .events {
        @include columns(12);
    }
    .all_events {
        @include columns(12);
    }
}
