ul.culture-providers {
    font-family: $sans-serif;
}
section.events {
    @include clearfix();

    .tabs_event_types {
      background: transparent;
      border: none;
      .ui-widget-header {
        background: transparent;
        border: none;
        border-bottom: 1px solid #c0c0c0;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .ui-tabs-nav {
        .ui-state-default {
          background: transparent;
          border: none;
        }
        .ui-state-active {
          background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
          border: none;
        }
        .ui-state-default a {
          color: #c0c0c0;
        }
        .ui-state-active a {
         color: #459e00;
       }
      }
    }
    .occasions {
        @include columns(8);
    }
    .events {
        @include columns(4, true);

        li {
            margin-bottom: 0.3em;
        }
    }
    .all_events {
        @include columns(4, true);

        li {
            margin-bottom: 0.3em;
        }
    }
}
